<div class="margenGlobal ">

    <div class="margen tamaño">
        <h3 class="text-center">Lista de libros</h3>
        <br>
        <div class="ml-5">
            <div class="col-sm-5" style="padding-bottom:20px;">
                <div class="col s6">
                    <i class="fas fa-search">Buscar</i>
                    <input id="icon_prefix" class="form-control col-lg-6 col-sm-12 col-xs-12 redondeado" type="text" placeholder="Buscar......." [(ngModel)]="filter">
                </div>
            </div>
        </div>
        <div class="row col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 margenGrid">
            <div class=" mb-2 ml-1" *ngFor="let book of allBooks |filter:filter">
                <div class="card bordeCont" style="width: 18rem;">
                    <img class="card-img-top imagen" src="assets/img/libro.jpg" alt="Card image cap" (click)="bookInformation(book.ID)" data-toggle="modal" data-target="#exampleModal">
                    <div class="card-body bg-light">
                        <div class="row">
                            <h5 class="card-title">Titulo: <strong>{{book.Title}}</strong></h5>
                            <p class="card-text">{{book.Description}}</p>

                        </div>
                    </div>

                </div>


            </div>


        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Vista Previa</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <div style="width: 18rem;">
                        <img class="imagen" style="margin-left: 37%;" src="assets/img/libro.jpg" alt="Card image cap">

                    </div>
                    <div class="mt-2" *ngFor="let book of allBooks">
                        <p> <strong>Titulo:</strong> {{book.Title}}</p>
                        <hr>
                        <p><strong>Descripción:</strong> {{book.Description}}</p>
                        <hr>
                        <p><strong>Extracto:</strong> {{book.Excerpt}}</p>
                        <hr>
                        <p><strong>Fecha:</strong> {{book.PublishDate}}</p>
                        <hr>
                        <p><strong>Nro Paginas:</strong> {{book.PageCount}}</p>

                        <div class="modal-footer">
                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->

                            <button class="btn btn-lg btn-danger text-color ml-2" data-dismiss="modal" (click)="delete(book.ID)">Eliminar</button>
                            <button class="btn btn-lg gradient text-color ml-2" data-dismiss="modal" (click)="edit(book.ID)">Editar</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>