<br>
<br>
<br>


<!--Company section-->
<div class="backG">

    <!-- footer company -->
    <footer class="footer bg-mega">
        <div class="container">
            <div class="col-md-12 text-center sm-text-center">
                <p class=" text-uppercase mt-2" style="text-align: center; color:black;">
                    &copy; Todos los derechos reservados, GRANADA S.A.S 2019
                </p>
            </div>
            <!-- <div class="col-md-6 text-right sm-text-center sm-m-top-20">
                  <ul class="list-inline">
                      <li><a href="">Facebook</a></li>
                      <li><a href="">Twitter</a></li>
                      <li><a href="">Instagram</a></li>
                      <li><a href="">Pinterest</a></li>
                  </ul>  -->
        </div>
    </footer>

</div>