<div class="margenGlobal">
    <h2 class="text-center">Bienvenido a tu biblioteca</h2>
    <div class="margen">
        <div class="container">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, omnis. Incidunt perspiciatis nostrum quaerat suscipit facere ducimus iure eligendi, est fugiat quae. Libero sequi consectetur reiciendis deleniti beatae est iure.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas repellendus ullam necessitatibus in, eveniet unde neque odio voluptas labore, facilis magnam quam obcaecati sunt sequi maiores praesentium. Ab, impedit dolore.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, omnis. Incidunt perspiciatis nostrum quaerat suscipit facere ducimus iure eligendi, est fugiat quae. Libero sequi consectetur reiciendis deleniti beatae est iure.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas repellendus ullam necessitatibus in, eveniet unde neque odio voluptas labore, facilis magnam quam obcaecati sunt sequi maiores praesentium. Ab, impedit dolore.</p>
        </div>
    </div>
    <!-- 
    <div *ngFor="let book of allBooks">

        <h5>{{book.Title}}</h5>

    </div>

    <button (click)="getOneBook()">filter</button> -->

</div>