<div class="margenGlobal">
    <h1 class="text-center">Perfil basico de usuario</h1>
    <div class="container ">
        <div class="col-md-4 col-lg-12 col-md-12 row orientacion">
            <div class="card">
                <div class="profile-wrap animated fadeIn">
                    <div class="info-wrap">
                        <div class="avatar-wrap">
                            <img src="../../../assets/img/libro.jpg" alt="avatar">
                        </div>
                        <!-- <span class="user-name">{{sesionStorage.nombre}}</span>
                            <span class="user-post">{{sesionStorage.usuario}}</span> -->
                    </div>
                    <div class="profile-head">
                        <img src="../../../assets/img/libro.jpg" alt="profile-head-bg" class="profile-head-bg">
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4">
                    <label class="control-label">Nombre</label>
                    <input type="text" class="form-control backColor cursor" placeholder="Username" disabled value="{{sesionStorage.nombre}}">

                    <label class="control-label">Usuario</label>
                    <input type="text" class="form-control backColor cursor" placeholder="Userpost" disabled value="{{sesionStorage.usuario}}">

                    <a href="" [routerLink]="['/dashboard']">Ir a opciones de usuario</a>
                </div>


            </div>

        </div>

    </div>
</div>